* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* header styleing */
.header {
  width: 100%;
  height: 45px;
  display: flex;
}
hr {
  color: transparent;
}
.header img {
  margin: 20px;
  width: 115px;
  height: 38.05px;
}

.nav-item {
  display: flex;
}
.list ul li {
  display: flex;
  flex-direction: row;
  margin: 22px;
  text-transform: uppercase;
  color: #25cffe;
  font-weight: bold;
}
.nav-item ul {
  display: flex;
  list-style: none;
}
.nav-item .icons {
  display: flex;
  margin: 15px;
  padding: 10px;
  margin-left: 30px;
  font-size: 1.5rem;
  gap: 30px;
}
.nav-item .icon:hover {
  color: #25cffe;
}
.nav_items .nav-item li:hover {
  color: black;
  text-decoration: underline;
}
